include MANIFEST.in
include DecisionTree.py
include setup.py
include Makefile
include README
include DecisionTree-1.0.html
include TestDecisionTree/DecisionTree.py
include TestDecisionTree/TestBestFeatureCalculation.py
include TestDecisionTree/TestDecisionTreeClassification.py
include TestDecisionTree/TestDecisionTreeInduction.p
include TestDecisionTree/TestEntropyCalculation.py
include TestDecisionTree/TestProbabilityCalculation.py
include TestDecisionTree/Test.py*
include TestDecisionTree/testdata.dat
include TestDecisionTree/training.dat
include Examples/DecisionTree.py*
include Examples/classify_from_diskstored.dt.py
include Examples/classify_test_data_in_a_file.py
include Examples/construct_dt_and_classify_one_sample.py
include Examples/store_dt_on_disk.py
include Examples/testdata2.dat
include Examples/training.dat
include Examples/testdata.da
include Examples/README                        
